@page
@model IndexModel
@{
    ViewData["Title"] = "Inventory Management";
}

<!-- start point -->
<div class="text-center">
    @* <h1 class="display-4">Inventory  Management System</h1> *@
    @* <p>A Basic demonstration of inventory management.</p> *@
    @* <div>
        <a asp-page="Products/AddProduct" class="btn btn-primary">Add Product</a>
        <a asp-page="Products/ListProducts" class="btn btn-primary">View Inventory</a>
        <a asp-page="Products/UpdateProductModel" class="btn btn-primary">Update Product Quantity</a>
        <a asp-page="Products/DeleteProductModel" class="btn btn-primary">Delete Product</a>
        <a asp-page="Products/SearchProducts" class="btn btn-primary">Search Products</a>
    </div> *@

@*     <h2>Current Inventory Summary</h2>
    <ul>
        <li>Total Products: @Model.TotalProducts</li>
    </ul> *@

</div>
